<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>InstaMusic - Registration</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil|Gloria+Hallelujah|Lobster|Pacifico|Permanent+Marker"
    rel="stylesheet">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="../css/login.css">
</head>

<body>
    <div class="container">
        <div class="info">
            <h1>InstaMusic</h1><span>Made with <i class="fa fa-heart"></i> by <a href="http://andytran.me">Thomas & Louis</a></span>
        </div>
    </div>
    <div class="form">
    <div class="thumbnail"><img src="http://thecraftchop.com/files/images/headphones.svg" /></div>
        <!-- register-form -->
        <form class="register-form">
            <input type="text" placeholder="name" />
            <input type="text" placeholder="username" />
            <input type="password" class="passwordInput" placeholder="password" />
            <!-- <label for="show_password">
                <input type="checkbox" name="show_password" class="show_password">
                <span>Show Password</span>
            </label> -->
            <input type="text" placeholder="email address" />
            <button><a href="userDashBoard.html">Sign Up</a></button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>

        <!-- login form -->
        <form class="login-form">
            <input type="text" placeholder="username" />
            <input type="password" class="passwordInput" placeholder="password" />
            <!-- <label for="show_password">
                <input type="checkbox" name="show_password" class="show_password">
                <span>Show Password</span>
            </label> -->
            <button><a href="userDashBoard.html">Login</a></button>
            <p class="message">Not registered? <a href="#">Create an account</a></p>
        </form>


    </div>
    <!-- <video id="video" autoplay="autoplay" loop="loop" poster="polina.jpg">
        <source src="http://andytran.me/A%20peaceful%20nature%20timelapse%20video.mp4" type="video/mp4" />
    </video> -->
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="../js/login.js"></script>
</body>
</html>
